
  #form-section {
    margin-top: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }

  input, 
  select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #2c3e50;
    color: #ecf0f1;
    cursor: pointer;
  }